<div class="reset-page container">
    <h1>Forgot your password?</h1>
    <p>Enter the email you registered with: </p>
    <form class="input-group mt-3">
        <input type="text" class="form-control" name="email" placeholder="Enter your email">
        <div class="input-group-append">
            <button class="btn btn-secondary submit-button" type="submit">Submit</button>
        </div>
    </form>

</div>

<link href="~/css/site.css" rel="stylesheet">
<link href="~/css/password-reset.css" rel="stylesheet"/>

<script src="~/js/formhandler.js"></script> 
<script src="~/js/password-reset.js"></script> 