<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  password = "your_password"
  -->
 
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=localhost;uid=root;password=gregers;database=news;port=3306;CharSet=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  

 
</configuration>